@{
    Layout = "_NoHeader";
}
<header>
	<img src="~/img/website-header-logo.svg" alt="Fun with Email site logo"/>
</header>
<div>
    <main>
        @RenderBody()
    </main>
</div>
<footer>
    &copy; 2023 Dylan Beattie &bull; <a href="https://github.com/dylanbeattie/funwith.email/">code on github</a>
</footer>
