@{
    Layout = "_NoHeader";
}
@model IDictionary<Guid, MailStatus>
<img src="~/img/qr-code.png" id="qr-code" />

<h1 style="text-align: left;">Join the demo: <code>https://funwith.email/go</code></h1>

<div id="status-grid">
	<div class="legend">
		<span class="accepted">Ready</span>
		<span class="queued">Queued</span>
		<span class="sent">Sent</span>
		<span class="deliveredtoinbox">Delivered</span>
		<span class="deliveredtojunk">Junk</span>
		<span class="error">Error</span>
	</div>
	<div id="statuses">
		@foreach (var item in Model)
		{
			<span id="mail-@item.Key" class="@item.Value.ToString().ToLowerInvariant()">
				@@
			</span>
		}
	</div>
</div>
<div style="position: fixed; bottom: 8px; left: 8px; right: 8px; text-align: right;">
<a asp-action="Reset">reset</a>
<a asp-action="Fake">fill</a>
<a asp-action="Report">report</a>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        async function start() {
            try {
                await connection.start();
                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(async () => await start());
        var grid = document.getElementById("statuses");
        connection.on("UpdateStatus",
            (user, message) => {
                console.log(user);
                console.log(message);
                var data = JSON.parse(message);
                var elementId = `mail-${data.id}`;
                var element = document.getElementById(elementId);
                if (element != null) {
                    element.className = data.status;
                } else {
                    element = document.createElement("span");
                    element.id = elementId;
                    element.innerHTML = "@@";
                    grid.prepend(element);
                }
            });
        start();
    </script>

}
