@{
    ViewData["Title"] = "Home Page";
}

<form method="POST">
	<label for="email-input">What's your email address?</label><br />
	<input type="email" id="email-input" name="email" placeholder="me@example.com"/><br />
	<input type="submit"/>
</form>
