@{
    ViewData["Title"] = "Fun with Email";
}

<form method="POST">
	@if (ViewData["Error"] != null) {
		<p>@ViewData["Error"]</p>
	}
	<label for="email-input">What's your email address?</label><br/>
	<input type="email" id="email-input" name="email" placeholder="me@example.com"/><br/>
	<input type="submit" value="Let's go!"/>
</form>
