@{
	ViewData["Title"] = "Fun with Email";
}

<h1>Got it!</h1>
<p>We're sending you an email.</p>
<p>Go check your inbox. Let's see if it worked.</p>
<p>
	<a href="/go">Didn't work? Click here to try again</a>
</p>
