@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

html {
	font-size: 14px;
	background-color: #29235c;
	font-family: 'Salsa', Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
}

a {
	color: #e6007e;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

header > img {
	margin: 10px auto;
	max-width: 300px;
	display: block;
}

input {
	padding: 8px;
	border-radius: 8px;
	font-family: 'Salsa', Arial, Helvetica, sans-serif;
}

input#email-input {
	font-size: 120%;
	max-width: 480px;
	width: 80%;
	margin: 16px;
}
	input[type=submit] {
		font-size: 120%;
		padding: 10px;
		border: 2px solid #95C11F;
		background-color: #95C11F;

	}

footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	padding: 8px;
}

div#status-grid {
	text-align: left;
	padding: 32px;
}

div#status-grid div.legend {
		text-align: center;
		border-width: 0 0 2px 0;
		border-color: #fff;
		border-style: solid;
	}

div#status-grid div.legend span {
		font-size: 36px;
		padding: 16px;
		color: #E6007E;
	}

div#status-grid span {
	font-size: 72px;
	padding: 8px;
	font-weight: bold;
	display: inline-block;
	color: #E6007E;
}

	div#status-grid span.Queued, div#status-grid div.legend span.Queued {
		color: #36A9E1;
	}

	div#status-grid span.Sent, div#status-grid div.legend span.Sent {
		color: #F9B233;
	}

	div#status-grid span.Verified, div#status-grid div.legend span.Verified {
		color: #95C11F;
	}
