@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

html {
	font-size: 14px;
	background-color: #29235c;
	font-family: 'Salsa', Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
}
a {
	color: #e6007e;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header > img {
	margin: 10px auto;
	max-width: 300px;
	display: block;
}

input {
	padding: 8px;
	border-radius: 8px;
	font-family: 'Salsa', Arial, Helvetica, sans-serif;
}
